build/
/cloud/
.gradle/
.idea/
lib/*
launcher-*.*.*.jar
!lib/licence.jar
*.iml
*.log
*.csv
config.json
/*.xml
update/
src/main/resources/updater/updateMigrator.jar
src/test/data/sandbox/
preferences.json
.$TEMP*
